<div class="form">
  <%= form_for @user do |f| %>
    <div class="input">
      <%= f.label :first, "First Name" %>
      <%= f.text_field :first %>
    </div>

    <div class="input">
      <%= f.label :last, "Last Name" %>
      <%= f.text_field :last %>
    </div>

    <div class="input">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div class="input">
      <%= f.label :bio %>
      <%= f.text_area :bio %>
    </div>

    <div class="input">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="input">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="input">
      <%= f.submit "Submit Changes" %>
    </div>

  <% end %>
</div>
